/* -------------------- EMBERLY -------------------- */
@font-face {
    font-family: 'Emberly';
    src: url('../fonts/emberly/EmberlyRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Emberly';
    src: url('../fonts/emberly/EmberlyBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Emberly';
    src: url('../fonts/emberly/EmberlyItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* -------------------- MONTSERRAT -------------------- */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* -------------------- MORTGANITE -------------------- */
@font-face {
    font-family: 'Mortganite';
    src: url('../fonts/mortganite/Mortganite-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mortganite';
    src: url('../fonts/mortganite/Mortganite-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mortganite';
    src: url('../fonts/mortganite/Mortganite-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}